# ASSIGNMENT 2

1. Write a program to reverse a string.

In [1]:
s1 = "pwskills"

In [2]:
print(s1[::-1])

sllikswp

2. Check if a string is a palindrome.

In [4]:
def check_pal(s):
    s = s.lower()
    s = s.replace(" ")
    if s ==s[::-1]:
        return True
    else:
        return False

In [7]:
# not taking consideration if there is cleaning of string is required , simply checking the input string
p = input("enter the string")
check_pal(p)

enter the string 1ama1

True

3. Convert a string to uppercase.

In [9]:
s3 = input("enter a string:")
print(s3.upper())

enter a string: WhAt

WHAT

4. Convert a string to lowercase.

In [12]:
s4 = input("enter a string:")
print(s4.lower())

enter a string: asdASD213

asdasd213

5. Count the number of vowels in a string.

In [22]:
def count_vowel(s):
    s = s.lower()
    v = "aeiou"
    d ={}
    count = 0
    for val in s:
        if val in v:
            if val in d:
                d[val]+=1
            else:
                d[val] =1
            count+=1
    return ("total vowel {} and values are {}".format(count,d))

# made the function with empty dictionary and string (aeiou)
#checking the value in input string and conver tinto lower and storing in the dictionary and returning the total count and dictionary

In [21]:
s5 = input("enter a string:")
count_vowel(s5)

enter a string: Hello World

"total vowel 3 and values are {'e': 1, 'o': 2}"

6. Count the number of consonants in a string.

In [7]:
def count_conso(s):
    s=s.lower()
    v = "bcdfghijklmnpqrstwxyz"
    count = 0
    for val in s:
        if val in v:
            count +=1
    return ("total counts of consonant {}".format(count))

In [8]:
s6 = input("enter the string: ")
count_conso(s6)

enter the string:  Hello Workd

'total counts of consonant 7'

7. Remove all whitespaces from a string.

In [10]:
s7 = input("enter the string: ")
print(s7.replace(" ",""))
#used the replace function to replace spaces with the non spaces

enter the string:  pw skills !!

pwskills!!

8. Find the length of a string without using the `len()` function.

In [12]:
s8 = "length of string"
def length_string(s):
    count = 0
    for val in s:
        count+=1
    return ("length of string is {}".format(count))

length_string(s8)

'length of string is 16'

9. Check if a string contains a specific word.

In [16]:
s9 = input("enter the string: ")
specific_word = input("enter the specific word: ")
s9 = s9.lower()
specific_word =specific_word.lower()

if specific_word in s9:
    print(" '{}' is there in '{}' ".format(specific_word,s9))
else:
    print(" '{}' is NOT there in '{}' ".format(specific_word,s9))

enter the string:  in
enter the specific word:  into the world

 'into the world' is NOT there in 'in'

10. Replace a word in a string with another word.

In [21]:
s10 = input("enter the string: ")
old = input("enter the old word: ")
new = input("enter the new word: ")

result = s10.replace(old,new)
print(result)

enter the string:  hello world
enter the old word:  hello
enter the new word:  good

good world

11. Count the occurrences of a word in a string.

In [26]:
s11 = input("enter the string: ")
target_word = input("enter the word : ")

count = 0
temp = s11.split()

for val in temp:
    if val.lower() == target_word.lower():
        count +=1
        
print("'{}' word is {} times in sentence".format(target_word,count))

# input the string and target word
# split and stored in list
# check the lower case of target word and the word in list
# printing the value and name of target word

enter the string:  hello world world world
enter the word :  WORLD

'WORLD' word is 3 times in sentence

12. Find the first occurrence of a word in a string.

In [5]:
def first_occurance(text,word):
    pointer = -1
    temp = text.split()
    for i in range(len(temp)):
        if temp[i].lower() == word.lower():
            pointer = i
            return pointer
            break
    return None
# define a function having 2 input , text and target word
# using pointer as -1 and store the text in list
# iterating through 0 to length of list using i
# checking the value of list to that of target word and storing it in pointer and returning

In [4]:
text = "Find the first occurrence of a word in a string. First occurance"
word = "is"
first_occurance(text,word)
# if first_occurance(text,word) == -1:
print("the index of first occurance is {}".format(first_occurance(text,word)) )

the index of first occurance is 1

13. Find the last occurrence of a word in a string.

In [12]:
def last_occurance(text,word):
    pointer = -1
    temp = text.split()
    n = len(temp)
    for i in range(n):
        if temp[n-i-1].lower() == word.lower():
            pointer = n-i
            return pointer
            break
    return None

# did the similar thing, iterating the index from back to front n-i-1 to 0

In [17]:
text = "Find the last occurrence of a word in a string. last occurance"
word = "last"
last_occurance(text,word)
# if first_occurance(text,word) == -1:
print("the index of last occurance is {}".format(last_occurance(text,word)) )

the index of last occurance is 11

14. Split a string into a list of words.

In [20]:
s14 = "input of a string "
l =s14.split()
print(l)

['input', 'of', 'a', 'string']

15. Join a list of words into a string.

In [23]:
# used the l of questing 14 , split the string into list and used the same list
s15 =  ' '.join(l)
print("joined string of words: ",s15)

joined string of words:  input of a string

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [24]:
s16 = "Convert a string where words are separated by spaces"
res = s16.replace(" ","_")
print(res)

Convert_a_string_where_words_are_separated_by_spaces

17. Check if a string starts with a specific word or phrase.

In [4]:
#Not changing the upper and lower case of string
#use of prebuilt function
s17 = "Hello world"
start = "Hello"

if s17.startswith(start):
    print("string starts with: "+start)
else:
    print("string DOES NOT starts with: "+start)

string starts with: Hello

18. Check if a string ends with a specific word or phrase.

In [6]:
#Not changing the upper and lower case of string
#use of prebuilt function
s18 = "Hello world"
start = "world"

if s17.endswith(start):
    print("string ends with: "+start)
else:
    print("string DOES NOT ends with: "+start)

string ends with: world

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [7]:
s19 = "hello world"
print(s19.title())

Hello World

20. Find the longest word in a string.

In [2]:
def longest_word(s):
    text = s.split()
    longest_word = ""
    size = 0
    for val in text:
        if len(val)>size:
            size = len(val)
            longest_word = val
            
    print("the word is {} with length {}".format(longest_word,size))

s20 = "this is the example sentence"
longest_word(s20)

the word is sentence with length 8

21. Find the shortest word in a string.

In [7]:
def shortest_word(s):
    text = s.split()
    shortest_word = ""
    size = float('inf')
    for val in text:
        if len(val)<size:
            size = len(val)
            shortest_word = val
            
    print("the word is '{}' with length {}".format(shortest_word,size))

s21 = "this is the example sentence"
shortest_word(s21)

the word is 'is' with length 2

22. Reverse the order of words in a string.

In [12]:
def rev_order(s):
    text = s.split()
    temp = text[::-1]
    return ' '.join(temp)

s22 = "Reverse the order of words in a string"
rev_order(s22)

# by order i understand the appearances of the word, reversing the order by spliting into list 
# storing in temporary list with reverse order and the joining it back

'string a in words of order the Reverse'

23. Check if a string is alphanumeric.

In [2]:
s23 = "hello123"
if s23.isalnum():
    print("The string is alphanumeric.")
else:
    print("The string is not alphanumeric.")

The string is alphanumeric.

24. Extract all digits from a string.

In [9]:
def extract_digit(s):
    result = ""
    for val in s:
        if val.isdigit():
            result+=val
    return result

s24 = "Testing123 what is 345 ?"
ans = extract_digit(s24)
print("extracted digits are: {}".format(ans))

extracted digits are: 123345

25. Extract all alphabets from a string.

In [12]:
def extract_alp(s):
    result = ""
    for val in s:
        if val.isalpha():
            result+=val
    return result

s25 = "Testing123 what is 345 ?"
ans = extract_alp(s25)
print("extracted alphabets are: {}".format(ans))

extracted alphabets are: Testingwhatis

26. Count the number of uppercase letters in a string.

In [15]:
def count_uppercase(s):
    res = 0
    for val in s:
        if val.isupper():
            res+=1
    return res

s26 ="heLLOworLD"
count_uppercase(s26)

5

27. Count the number of lowercase letters in a string.

In [21]:
def count_lowercase(s):
    res = 0
    for val in s:
        if val.islower():
            res+=1
    return res

s26 ="heLLOworLDasd"
count_lowercase(s26)

8

28. Swap the case of each character in a string.

In [23]:
s28 = "helloWORLD"
print(s28.swapcase())

HELLOworld

29. Remove a specific word from a string.

In [31]:
def remove_word(s,word):
    text = s.split()
    result = ""
    for val in text:
        if val !=word:
            result += (val+' ')
    return result

# split the string into list and iterating from the list and adding to the result

In [32]:
s29 = "Remove a specific word from a string."
target = "specific"
remove_word(s29,target)

'Remove a word from a string. '

30. Check if a string is a valid email address.

In [33]:
import re

def is_valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'
    if re.match(pattern, email):
        return True
    else:
        return False

In [34]:
email1 = "hello@gmail.com"
email2 = "invalid-email"
print(is_valid_email(email1))
print(is_valid_email(email2))

True
False

31. Extract the username from an email address string.

In [37]:
# assuming username is before @ in email

def username(s):
    text = s.split('@')
    return text[0]

s31= "hello@gmail.com"
res = username(s31)
print("username is '{}'".format(res))

username is 'hello'

32. Extract the domain name from an email address string.

In [39]:
# assuming domain name in form of after @ , abc.com
def domain(s):
    text = s.split('@')
    return text[1]

s32= "hello@gmail.com"
res = domain(s32)
print("domain name is '{}'".format(res))

domain name is 'gmail.com'

33. Replace multiple spaces in a string with a single space.

In [41]:
def multi_space(s):
    text = s.split()
    res = ' '.join(text)
    return res

s33 = "hello   world     how are  you ?"
multi_space(s33)

'hello world how are you ?'

34. Check if a string is a valid URL.

In [42]:
# use of url parse , taken help from internet

from urllib.parse import urlparse

def valid_url(url):
        result = urlparse(url)
        return all([result.scheme, result.netloc])

In [44]:
url1 = "https://www.example.com"
url2 = "invalid-url"
result1 = valid_url(url1)
result2 = valid_url(url2)
print(result1)
print(result2)

True
False

35. Extract the protocol (http or https) from a URL string.

In [3]:
# split the url with :// and took the 1st part of the split
def extract_protocol(url):
    text= url.split("://")
    return text[0]

url1 = "https://www.google.com"
url2 = "http://google.com"
url3 = "tcp://tcp.example.com"
res1 = extract_protocol(url1)
res2 = extract_protocol(url2)
res3 = extract_protocol(url3)

In [2]:
print(res1)
print(res2)
print(res3)

https
http
tcp

36. Find the frequency of each character in a string.

In [4]:
def freq(s):
    d = {}
    for val in s:
        if val in d:
            d[val]+=1
        else:
            d[val] =1
    return d

In [8]:
s36 = "hello world and earth"
print("frequency of character {}".format(freq(s36)))

frequency of character {'h': 2, 'e': 2, 'l': 3, 'o': 2, ' ': 3, 'w': 1, 'r': 2, 'd': 2, 'a': 2, 'n': 1, 't': 1}

37. Remove all punctuation from a string.

In [9]:
s37 = " hello! how are you ? ,what is the name ??"

In [11]:
import string

translator = str.maketrans("", "", string.punctuation)
result = s37.translate(translator)
print(result)

 hello how are you  what is the name

38. Check if a string contains only digits.

In [16]:
in1= "1234"
in2 = "hello12"
in3 = "123,"

print(in1.isdigit())
print(in2.isdigit())
print(in3.isdigit())

True
False
False

39. Check if a string contains only alphabets.

In [17]:
in1= "1234"
in2 = "hello12"
in3 = "hello"

print(in1.isalpha())
print(in2.isalpha())
print(in3.isalpha())

False
False
True

40. Convert a string to a list of characters.

In [18]:
s40 = "hello world !"

print(list(s40))

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd', ' ', '!']

41. Check if two strings are anagrams.

In [23]:
def check_anagram(s1,s2):
    s1 = s1.replace(" ","").lower()
    s2 = s2.replace(" ","").lower()
    if sorted(s1) == sorted(s2):
        return True
    else:
        return False

In [24]:
str1 = "race"
str2 = "care"
check_anagram(str1,str2)

True

42. Encode a string using a Caesar cipher.

In [48]:
def caesar_cipher(text, shift):
    result = ""
    
    for val in text:
        if val.isalpha():
            if val.islower():
                temp = chr((ord(val) + shift - ord('a')) % 26 + ord('a'))
            else:
                temp = chr((ord(val) + shift - ord('A')) % 26 + ord('A'))
        else:
            temp = val
        result+=temp
        
    return result

In [49]:
s42 = "Hello World"
shift = 3

caesar_cipher(s42,shift)

'Khoor Zruog'

43. Decode a Caesar cipher encoded string.

In [39]:
def caesar_cipher_decode(text, shift):
    result = ""
    
    for val in text:
        if val.isalpha():
            if val.islower():
                temp = chr((ord(val) - shift - ord('a')) % 26 + ord('a'))
            else:
                temp = chr((ord(val) - shift - ord('A')) % 26 + ord('A'))
        else:
            temp = val
        result+=temp
        
    return result

In [50]:
s43 = 'Khoor Zruog'
shift = 3

caesar_cipher_decode(s43,shift)

'Hello World'

44. Find the most frequent word in a string

In [73]:
def most_freq(s):
    d = {}
    res = ""
    count = 0
    for val in s:
        if val not in d:
            d[val]=1
        else:
            d[val]+=1
        if d[val]>count:
            count =d[val]
            result = val
    
    return result , count

In [76]:
s44 = "Hello world, hello world, How's the world?"
ans = most_freq(s44)
print("the most frequent letter {} frequency {}".format(ans[0],ans[1]))

the most frequent letter l frequency 7

45. Find all unique words in a string.

In [78]:
s45 = "Hello world, hello world, How's the world?"

In [80]:
import re
clean_string = re.sub(r'[^\w\s]', '', s45).lower()
words = set(clean_string.split())
print(words)

{'hows', 'world', 'the', 'hello'}

46. Count the number of syllables in a string.

In [82]:
import re

def count_syllables(word):
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)
    return len(vowel_groups)

In [83]:
word1 = "hello"
count_syllables(word1)

2

47. Check if a string contains any special characters.

In [84]:
def special_char(s):
    for val in s:
        if val.isdigit() or val.isalpha():
            continue
        else:
            return False
            break
        
    return True

# function checking each value as digit or alphabets, if both are false, 1st character returning false

In [86]:
string1 = "Hello, world!"
special_char(string1)

False

48. Remove the nth word from a string.

In [93]:
def n_word(s,n):
    text = s.split()
    temp = text[:n]+text[n+1:]
    return ' '.join(temp)

In [95]:
s48= "What is in the string"
n = 3
print(s48)
print( n_word(s48,n))

What is in the string
What is in string

49. Insert a word at the nth position in a string.

In [96]:
def insert_n(s,word,n):
    text = s.split()
    temp = text[:n]+[word]+text[n:]
    return ' '.join(temp)

In [100]:
s49= "What is in the string"
n =3
word = 'example'
print(insert_n(s49,word,n))

What is in example the string

50. Convert a CSV string to a list of lists.

In [101]:
csv_data = "Name, Age, weight\nJohn, 40, 80\nDoe, 30, 70\nJane, 22, 50"

In [102]:
def str_csv(s):
    text =s.split('\n')
    res = []
    for val in text:
        temp = val.split(',')
        res.append(temp)
    
    return res

In [103]:
str_csv(csv_data)

[['Name', ' Age', ' weight'],
 ['John', ' 40', ' 80'],
 ['Doe', ' 30', ' 70'],
 ['Jane', ' 22', ' 50']]

# ===============================================================================================

# List Based Practice Problem :

# ===============================================================================================

1. Create a list with integers from 1 to 10.

In [104]:
res = []
for val in range(1,11):
    res.append(val)

In [105]:
res

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [106]:
count = 0
for val in res:
    count+=1
    
print(count)

10

3. Append an element to the end of a list.

In [108]:
new_list = res
element = 40
new_list.append(element)
print(new_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 40]

4. Insert an element at a specific index in a list.

In [112]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
index = 3
new_num=40
my_list.insert(index,new_num)

In [113]:
my_list

[1, 2, 3, 40, 4, 5, 6, 7, 8, 9, 10]

5. Remove an element from a list by its value.

In [114]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
index = 3
num = 4
my_list.remove(num)
print(my_list)

[1, 2, 3, 5, 6, 7, 8, 9, 10]

6. Remove an element from a list by its index.

In [116]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
index = 4
my_list.pop(index)
print(my_list)
# 5 is removed

[1, 2, 3, 4, 6, 7, 8, 9, 10]

7. Check if an element exists in a list.

In [118]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
check = 5

if val == check:
    print("Yes it is in the list")
else:
    print("NO it is NOT in the list")

NO it is NOT in the list

8. Find the index of the first occurrence of an element in a list.

In [3]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10,5]
check = 5
my_list.index(check)
# value error is not handled

4

9. Count the occurrences of an element in a list.

In [4]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10,5]
element = 5
my_list.count(check)

2

10. Reverse the order of elements in a list.

In [5]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_list[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

11. Sort a list in ascending order.

In [8]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_list.sort()
print("Sort a list in ascending order ",my_list)

Sort a list in ascending order  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

12. Sort a list in descending order.

In [11]:
my_list = [1, 2, 3, 20, 5, 6,40, 7, 80, 9, 10]
my_list.sort(reverse=True)
print("Sort a list in decending order ",my_list)

Sort a list in decending order  [80, 40, 20, 10, 9, 7, 6, 5, 3, 2, 1]

13. Create a list of even numbers from 1 to 20.

In [12]:
even = []
for val in range(1,21):
    if val%2==0:
        even.append(val)

print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [14]:
odd = [num for num in range(1,20,2)]
print(odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [15]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum(my_list)

55

16. Find the maximum value in a list.

In [16]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
max(my_list)

10

17. Find the minimum value in a list.

In [17]:
min(my_list)

1

18. Create a list of squares of numbers from 1 to 10.

In [18]:
square = [x**2 for x in range(1,11)]
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [19]:
import random
integer = [random.randint(1, 100) for _ in range(10)]

print("List of random integers:", integer)

List of random integers: [4, 58, 3, 28, 69, 22, 53, 96, 28, 90]

20. Remove duplicates from a list.

In [21]:
d_list=[1,2,2,3,3,3,4,4,5,6,7,8,8,8,9]

new_list = list(set(d_list))
new_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

21. Find the common elements between two lists.

In [23]:
d_list=[1,2,2,3,3,3,4,4,5,6,7,8,8,8,9]
my_list = [1, 2, 3, 7, 8, 9, 10]
check_common(d_list,my_list)

[1, 2, 3, 7, 8, 9]

In [24]:
def check_common(l1,l2):
    new_list=[]
    temp1 = list(set(l1))
    temp2 =list(set(l2))
    for val in temp1:
        if val in temp2:
            new_list.append(val)
            
    return new_list
# taking set of both the list to remove the duplicate element
# iterating over the list1 and check if it is there in list2
# used brute force algorithm, to check every element

22. Find the difference between two lists.

In [30]:
list1 = [10, 20, 30, 40, 50]
list2 = [30, 40, 50, 60, 70]

difference = list(set(list1).difference(list2))+list(set(list2).difference(list1))
difference
# adding difference of list1 to list2 and then list2 to list1

[20, 10, 70, 60]

23. Merge two lists.

In [32]:
list1 = [10, 20, 30, 40, 50]
list2 = [30, 40, 50, 60, 70]
list_new = list1+list2
list_new

[10, 20, 30, 40, 50, 30, 40, 50, 60, 70]

24. Multiply all elements in a list by 2.

In [35]:
list1 = [10, 20, 30, 40, 50]
list_res=[x*2 for x in list1]
list_res

[20, 40, 60, 80, 100]

25. Filter out all even numbers from a list.

In [41]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
res = [x for x in my_list if x%2!=0]
res

[1, 3, 5, 7, 9]

26. Convert a list of strings to a list of integers.

In [43]:
my_list = ["10", "20", "30", "40", "50"]
res = [int(x) for x in my_list ]
print(" list of integers: ",res)

 list of integers:  [10, 20, 30, 40, 50]

27. Convert a list of integers to a list of strings.

In [45]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
res = [str(x) for x in my_list]
print("list of strings:",res)

list of strings: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

28. Flatten a nested list.

In [46]:
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]

In [47]:
def flat_list(l1):
    res =[]
    i=0
    for i in range(len(l1)):
        for val in l1[i]:
            res.append(val)
            
    return res

# taking i =0 and use as a pointer for the index of nested list
#in each sub list, going though every element and added in list

In [48]:
flat_list(nested_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

29. Create a list of the first 10 Fibonacci numbers.

In [51]:
start = [0,1]
for i in range(2,11):
    temp = start[i-1]+start[i-2]
    start.append(temp)
    
print("fibonnaci sequence :",start)

fibonnaci sequence : [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

30. Check if a list is sorted.

In [55]:
my_list=[1, 2, 3, 4, 5, 6, 7, 8, 9]
my_list1=[1, 2, 3, 4, 5, 6, 7, 8, 90,10]
def check_sort(l1):
    for i in range(len(l1)-1):
        if l1[i]>l1[i+1]:
            return False
            break
    return True

In [53]:
check_sort(my_list)

True

In [56]:
check_sort(my_list1)

False

31. Rotate a list to the left by `n` positions.

In [57]:
def rotate_left(l1, n):
    n = n % len(l1) 
    rotated = l1[n:] + l1[:n]
    return rotated

In [59]:
my_list=[1, 2, 3, 4, 5, 6, 7, 8, 9]
n =2
rotate_left(my_list,n)

[3, 4, 5, 6, 7, 8, 9, 1, 2]

32. Rotate a list to the right by `n` positions.

In [60]:
def rotate_right(l1, n):
    n = n % len(l1) 
    rotated = l1[-n:] + l1[:-n]
    return rotated

In [61]:
my_list=[1, 2, 3, 4, 5, 6, 7, 8, 9]
n =2
rotate_right(my_list,n)

[8, 9, 1, 2, 3, 4, 5, 6, 7]

33. Create a list of prime numbers up to 50.

In [7]:
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
      # print(i,num)
      if num % i == 0 or num % (i + 2) == 0:
          return False
      i += 6
    return True

In [8]:
prime_numbers = [num for num in range(2,30) if is_prime(num)]
prime_numbers

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

34. Split a list into chunks of size `n`

In [13]:
my_list=[1, 2, 3, 4, 5, 6, 7, 8, 9]
n = 1

for i in range(0, len(my_list), n):
    print(my_list[i:i+n])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

35. Find the second largest number in a list.

In [2]:
my_list = [10, 5, 20, 15, 30, 25]

if len(my_list)>=2:
    my_list.sort()
    print("second largest element: "my_list[-2])
else:
    print("there are not enough elements")

25

36. Replace every element in a list with its square.

In [4]:
my_list=[1, 2, 3, 4, 5, 6, 7, 8, 9]

square_list = [val**2 for val in my_list]
print("squared list ",square_list)

# didn't replace the element of same list, instead make a new list

squared list  [1, 4, 9, 16, 25, 36, 49, 64, 81]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [6]:
my_list=[1, 2, 3, 4, 5, 6, 7, 8, 9]
d = {}

for i in range(0,len(my_list)):
    d[my_list[i]]=i
    
print("dictionary with elements as key and indices as values: ",d)

dictionary with elements as key and indices as values:  {1: 0, 2: 1, 3: 2, 4: 3, 5: 4, 6: 5, 7: 6, 8: 7, 9: 8}

38. Shuffle the elements of a list randomly.

In [7]:
import random

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]

random.shuffle(my_list)

# Printing the shuffled list
print("Shuffled list:", my_list)

Shuffled list: [4, 1, 8, 2, 9, 7, 5, 3, 6]

39. Create a list of the first 10 factorial numbers.

In [10]:
def fact(n):
    if n==0 or n ==1:
        return 1
    else:
        return n*fact(n-1)

In [13]:
result = [fact(i) for i in range(1,11)]
print("List of the first 10 factorial numbers:",result)

List of the first 10 factorial numbers: [1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

40. Check if two lists have at least one element in common.

In [14]:
def check(l1,l2):
    for x in l1:
        for y in l2:
            if x ==y:
                return True
    return False

In [15]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

if check(list1,list2):
    print("atleast one element is common")
else:
    print("there is no common element")

atleast one element is common

41. Remove all elements from a list.

In [17]:
list1 = [1, 2, 3, 4, 5]

list1.clear()
list1

[]

42. Replace negative numbers in a list with 0.

In [20]:
my_list = [1,2,3,-1,-5,20,40,-50]

for i in range(len(my_list)):
    if my_list[i]<0:
        my_list[i]=0
my_list

[1, 2, 3, 0, 0, 20, 40, 0]

43. Convert a string into a list of words.

In [22]:
str1 = "hello world, how are you?"

res = str1.split()

print(res)

['hello', 'world,', 'how', 'are', 'you?']

44. Convert a list of words into a string.

In [25]:
out = ' '.join(res)
print(out)

hello world, how are you?

45. Create a list of the first `n` powers of 2.

In [28]:
n = 6
power_list = [2**i for i in range(n)]

print(f"first {n} power of list",power_list)

first 6 power of list [1, 2, 4, 8, 16, 32]


46. Find the longest string in a list of strings.

In [29]:
count = 0
res = ""
my_list= ["world","car","aeroplane","ship"]
for val in my_list:
    if len(val)>count:
        res = val
        count = len(val)

In [31]:
print("the longest string is '{}' with length {} ".format(res,count))

the longest string is 'aeroplane' with length 9

47. Find the shortest string in a list of strings.

In [32]:
count = float('inf')
res = ""
my_list= ["world","car","aeroplane","ship"]
for val in my_list:
    if len(val)<count:
        res = val
        count = len(val)

print("the shortest string is '{}' with length {} ".format(res,count))

the shortest string is 'car' with length 3

48. Create a list of the first `n` triangular numbers.

In [33]:
n = 6

triangular_list= [i * (i + 1) // 2 for i in range(1, n + 1)]
triangular_list

[1, 3, 6, 10, 15, 21]

49. Check if a list contains another list as a subsequence.

In [5]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sub_list = [3, 5, 8]

def check(l1,l2):
    index = 0  
    for element in l1:
        if element == l2[index]:
            index += 1
            if index == len(l2):
                return True
    return False

In [6]:
check(my_list,sub_list)

True

50. Swap two elements in a list by their indices.

In [7]:
my_list = [1, 2, 3, 4, 5]

index1 = 1
index2 = 3

# assuming indices are less than the length of list

my_list[index1],my_list[index2] = my_list[index2],my_list[index1]

In [9]:
print("list after swapping :",my_list)

list after swapping : [1, 4, 3, 2, 5]

# ==================================================================================================================
# Tuple Based Practice Problem :
# ==================================================================================================================

1. Create a tuple with integers from 1 to 5.

In [5]:
l =[]
for i in range(1,6):
    l.append(i)

tup = tuple(l)
print(tup)

(1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [6]:
tup = (1, 2, 3, 4, 5)

print(tup[2])

3

3. Find the length of a tuple without using the `len()` function.

In [11]:
count =0
tup = (1, 2, 3, 4, 5)

for _ in range(len(tup)):
    count+=1
    
print(count)

5

4. Count the occurrences of an element in a tuple.

In [13]:
tup = (1,2,3,4,5,2,6,7,2,2,)
element = 2
count =0
for val in tup:
    if val ==element:
        count+=1
        
print(count)

4

5. Find the index of the first occurrence of an element in a tuple

In [14]:
tup = (1,2,3,4,5,2,6,7,2,2,8)
print(tup.index(2))

1

6. Check if an element exists in a tuple

In [16]:
tup = (1,2,3,4,5,2,6,7,2,2,8)
element = 4

if val in tup:
    print("yes it exist")
else:
     print("NO it doens't exist")

yes it exist

7. Convert a tuple to a list.

In [19]:
tup = (1,2,3,4,5,2,6,7,2,2,8)
l = list(tup)
print(l)

[1, 2, 3, 4, 5, 2, 6, 7, 2, 2, 8]

8. Convert a list to a tuple.

In [20]:
l = [1,2,3,4,5]
tup = tuple(l)
print(tup)

(1, 2, 3, 4, 5)

9. Unpack the elements of a tuple into variables.

In [25]:
my_tuple = (10, 20, 30,40)

var1,var2,var3,var4 = my_tuple
    
print("value of var1 is:",var1)
print("value of var2 is:",var2)
print("value of var3 is:",var3)
print("value of var4 is:",var4)

value of var1 is: 10
value of var2 is: 20
value of var3 is: 30
value of var4 is: 40

10. Create a tuple of even numbers from 1 to 10.

In [27]:
l = [x for x in range(2,11,2)]
tup = tuple(l)
print(tup)

(2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [28]:
l = [x for x in range(1,10,2)]
tup = tuple(l)
print(tup)

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [32]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

con_tuple = tuple1 + tuple2

print("Concatenated tuple:", con_tuple)

Concatenated tuple: (1, 2, 3, 4, 5, 6)

13. Repeat a tuple three times.

In [33]:
tup = (1,2,3)

print(tup*3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

14. Check if a tuple is empty.

In [37]:
tup = (1,2,3)
# tup =()
if len(tup)>0:
    print("not empty tuple")
else:
    print("empty tuple")

not empty tuple

15. Create a nested tuple.

In [38]:
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

print("Nested tuple:", nested_tuple)

Nested tuple: ((1, 2, 3), ('a', 'b', 'c'), (True, False))

16. Access the first element of a nested tuple.

In [1]:
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

print(nested_tuple[0])

(1, 2, 3)

17. Create a tuple with a single element.

In [3]:
single_tup = (21,)
single_tup

(21,)

18. Compare two tuples.

In [4]:
tuple1 = (1,2,3)
tuple2 = (2,3,4)
 
if tuple1 ==tuple2: print("tuple1 == tuple2:", tuple1 == tuple2)  
if tuple1!= tuple2: print("tuple1 != tuple2:", tuple1 != tuple2)  
if tuple1<  tuple2: print("tuple1 < tuple2:", tuple1 < tuple2)    
if tuple1<= tuple2: print("tuple1 <= tuple2:", tuple1 <= tuple2)  
if tuple1 > tuple2: print("tuple1 > tuple2:", tuple1 > tuple2)   
if tuple1 >=tuple2: print("tuple1 >= tuple2:", tuple1 >= tuple2)

tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True

19. Delete a tuple.

In [9]:
tuple1 = (1,2,3)

del (tuple1)

print(tuple1)

NameError: name 'tuple1' is not defined

20. Slice a tuple.

In [10]:
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

slice_tup =my_tuple[2:6]

In [11]:
slice_tup

(3, 4, 5, 6)

21. Find the maximum value in a tuple.

In [12]:
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

print(max(my_tuple))

10

22. Find the minimum value in a tuple.

In [13]:
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

print(min(my_tuple))

1

23. Convert a string to a tuple of characters.

In [17]:
str1 = "Hello World"
    
tup = tuple(str1)

In [18]:
tup

('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd')

24. Convert a tuple of characters to a string.

In [19]:
str_tup = "".join(tup)
str_tup

'Hello World'

25. Create a tuple from multiple data types.

In [20]:
mixed_tuple = (1, "hello", 2.123, True,[1,2,3])

print(mixed_tuple)

(1, 'hello', 2.123, True, [1, 2, 3])

26. Check if two tuples are identical.

In [21]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)

if tuple1==tuple2:
    print("it is identical")
else:
    print("it is not identical")

it is identical

27. Sort the elements of a tuple.

In [24]:
my_tuple = (5, 2, 9, -1, -3)

sorted_tuple = tuple(sorted(my_tuple))

print("Sorted tuple:", sorted_tuple)

Sorted tuple: (-3, -1, 2, 5, 9)

28. Convert a tuple of integers to a tuple of strings.

In [26]:
tup_int= (1,2,3,4,5)
tup_str= tuple(str(x) for x in tup_int)

print(tup_str)

('1', '2', '3', '4', '5')

29. Convert a tuple of strings to a tuple of integers.

In [2]:
tup_str = ('1', '2', '3', '4', '5')

tup_int=tuple(int(x) for x in tup_str)
print(tup_int)

(1, 2, 3, 4, 5)

30. Merge two tuples.

In [4]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

merge_tuple = tuple1+tuple2
print(merge_tuple)

(1, 2, 3, 4, 5, 6)

31. Flatten a nested tuple.

In [6]:
nested_tup = ((1, 2, 3),(4, 5, 6))
l =[]
for val in nested_tup:
    l.extend(val)

tup = tuple(l)
print(tup)

(1, 2, 3, 4, 5, 6)

32. Create a tuple of the first 5 prime numbers.

In [11]:
#using it direct without logic
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
      # print(i,num)
      if num % i == 0 or num % (i + 2) == 0:
          return False
      i += 6
    return True


# tup = (2,3,5,7,11)
prime_numbers = [num for num in range(2,30) if is_prime(num)]
tup = tuple(prime_numbers[:5])
tup

(2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [13]:
tup = (1,2,3,2,1)

if tup == tup[::-1]:
    print("yes it is pallindrome")
else:
    print("no it is not")

yes it is pallindrome

34. Create a tuple of squares of numbers from 1 to 5.

In [15]:
tup = tuple(num**2 for num in range(1,6))
tup

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [17]:
tup = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

filter_tup = tuple(x for x in tup if x%2!=0)
filter_tup

(1, 3, 5, 7, 9)

36. Multiply all elements in a tuple by 2.

In [18]:
tup = (1, 2, 3, 4, 5)

res_tup = tuple(x*2 for x in tup)
res_tup

(2, 4, 6, 8, 10)

37. Create a tuple of random numbers.

In [19]:
import random

random_tuple = tuple(random.randint(1, 100) for _ in range(10))
random_tuple

(81, 5, 25, 6, 19, 36, 52, 64, 79, 24)

38. Check if a tuple is sorted

In [23]:
tuple1 = (1, 2, 3, 4, 5,1)

def check_sort(tup):
    for i in range(len(tup)-1):
        if tup[i]>tup[i+1]:
            return ("not sorted")
            break
    return ("is is sorted")


check_sort(tuple1)

'not sorted'

39. Rotate a tuple to the left by `n` positions.

In [24]:
def rotate_left(tup, n):
    n = n % len(tup)
    rotated_tuple = tup[n:] + tup[:n]
    return rotated_tuple

In [25]:
tuple1 = tuple1 = (1, 2, 3, 4, 5)
n = 2
rotate_left(tuple1, n)

(3, 4, 5, 1, 2)

40. Rotate a tuple to the right by `n` positions.

In [26]:
def rotate_right(tup, n):
    n = n % len(tup)
    rotated_tuple = tup[-n:] + tup[:-n]
    return rotated_tuple

In [28]:
tuple1 = tuple1 = (1, 2, 3, 4, 5)
n = 2
rotate_right(tuple1, n)

(4, 5, 1, 2, 3)

41. Create a tuple of the first 5 Fibonacci numbers.

In [3]:
def fibo(n):
    lis = [0,1]
    while len(lis)<n:
        num = lis[-1]+lis[-2]
        lis.append(num)
    return tuple(lis)

In [4]:
fibo(5)

(0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [7]:
input_str = input("enter the element separated by comma : ")

temp = input_str.split(',')
input_tup = tuple(temp)
print(input_tup)

enter the element separated by comma :  h,e,l,l,o,,w,o,r,l,d

('h', 'e', 'l', 'l', 'o', '', 'w', 'o', 'r', 'l', 'd')

43. Swap two elements in a tuple.

In [11]:
my_tuple = (1, 2, 3, 4, 5)
id1 = 1
id2 =2
temp =[]
for i in range(len(my_tuple)):
    if i ==id1:
        temp.append(my_tuple[id2])
    elif i == id2:
        temp.append(my_tuple[id1])
    else:
        temp.append(my_tuple[i])

result = tuple(temp)
result

# created tuple, checking indices , assuming less than the len of tuple
# used empty list and iterating over the values of i for the index
# if it is index1 , used as a pointer in tuple to add that element in list
# generated the list with swapped elements and rest of the element as it is
# print the tuple out of list

(1, 3, 2, 4, 5)

44. Reverse the elements of a tuple.

In [12]:
my_tuple = (1, 2, 3, 4, 5)
reversed_tuple = my_tuple[::-1]

reversed_tuple

(5, 4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [15]:
n = 5

tup = tuple(2**i for i in range(n))
print(f"tuple of 2 with power {n} is: {tup}")

tuple of 2 with power 5 is: (1, 2, 4, 8, 16)

46. Find the longest string in a tuple of strings.

In [2]:
tup = ("car","bike","plane","helicopter")

longest_string = max(tup, key=len)
longest_string

'helicopter'

47. Find the shortest string in a tuple of strings.

In [4]:
tup = ("car","bike","plane","helicopter","con")

shortest_string = min(tup, key=len)
shortest_string

'car'

48. Create a tuple of the first `n` triangular numbers.

In [2]:
n = 5
tup = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))
print(f"triangular numbers of {n} are {tup}")

triangular numbers of 5 are (1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence.

In [6]:
def contains_subsequence(tup1, tup2):
    sub_length = len(tup2)
    for i in range(len(tup1) - len(tup2) + 1):
        if tup1[i:i+sub_length] == tup2:
            return True
    return False

In [8]:
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)
sub_tuple = (3, 4, 5)

res = contains_subsequence(main_tuple,sub_tuple)
print("tuple contains another tuple as a subsequence: ",res)

tuple contains another tuple as a subsequence:  True

50. Create a tuple of alternating 1s and 0s of length `n`.

In [13]:
n =20
tup = tuple(i%2 for i in range(1,n+1))
tup
# started with 1 to n+1 to get the n elements starting with 1 and alternating 0 and 1

(1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

# ======================================================================================================
# Set Based Practice Problem :
# ======================================================================================================

1. Create a set with integers from 1 to 5.

In [15]:
l=[]
for i in range(1,6):
    l.append(i)
    
set(l)

{1, 2, 3, 4, 5}

2. Add an element to a set.

In [20]:
s = {1, 2, 3, 4, 5}

s.add(6)
print("added set value: ",s)

added set value:  {1, 2, 3, 4, 5, 6}

2. Add an element to a set

In [21]:
s = {1, 2, 3, 4, 5}
element = "str"
s.add(element)
s

{1, 2, 3, 4, 5, 'str'}

3. Remove an element from a set.

In [28]:
my_set = {1, 2, 3, 4, 5}
element = 2
if element in my_set:
    my_set.remove(element)
    print(f"removed element {element} from set",my_set)
else:
    print("element is not in set")

removed element 2 from set {1, 3, 4, 5}

4. Check if an element exists in a set.

In [32]:
my_set = {1, 2, 3, 4, 5}
element = 2

if element in my_set:
    print(f"element {element} in set")
else:
    print( f"element {element} is not in set")

element 2 in set

5. Find the length of a set without using the `len()` function.

In [34]:
count =0
my_set = {1, 2, 3, 4, 5}

for _ in my_set:
    count+=1
    
print("lenght of set is",count)

lenght of set is 5

6. Clear all elements from a set.

In [35]:
my_set = {1, 2, 3, 4, 5}
print(my_set)
my_set.clear()
print(my_set)

{1, 2, 3, 4, 5}
set()

7. Create a set of even numbers from 1 to 10.

In [45]:
even_set ={val for val in range(1,11) if val%2==0}
print(type(even_set))
print("even number set: ",even_set)

<class 'set'>
even number set:  {2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [44]:
odd_set ={val for val in range(1,11) if val%2!=0}
print("odd number set: ",odd_set)

odd number set:  {1, 3, 5, 7, 9}

9. Find the union of two sets.

In [47]:
# use of union function
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
s = set1.union(set2)
print("union of set1 and set2:",s)

union of set1 and set2: {1, 2, 3, 4, 5, 6, 7, 8}

10. Find the intersection of two sets.

In [49]:
# use of intersection function
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
s = set1.intersection(set2)
print("intersection of set1 and set2:",s)

intersection of set1 and set2: {4, 5}

11. Find the difference between two sets.

In [55]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
s1 = set1.difference(set2)
s2 = set2.difference(set1)

In [57]:
print("difference in set1 from set2 ",s1)
print("difference in set2 from set1 ",s2)

difference in set1 from set2  {1, 2, 3}
difference in set2 from set1  {8, 6, 7}

12. Check if a set is a subset of another set.

In [63]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

is_subset = set1.issubset(set2)
is_subset2 = set2.issubset(set1)

print("set1 is subset of set2: ",is_subset )
print("set2 is subset of set1: ",is_subset2 )

set1 is subset of set2:  True
set2 is subset of set1:  False

13. Check if a set is a superset of another set.

In [66]:
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}

is_subset = set1.issuperset(set2)

if is_subset:
    print("set1 is a superset of set2")
else:
    print("set1 is NOT a superset of set2")

set1 is a superset of set2

14. Create a set from a list.

In [68]:
my_list = [2, 4, 1, 4, 3, 2, 5]
my_set = set(my_list)

print("list:", my_list)
print("set from list:",my_set)

list: [2, 4, 1, 4, 3, 2, 5]
set from list: {1, 2, 3, 4, 5}

15. Convert a set to a list.

In [69]:
my_set = {1, 5, 9, 2, 6, 5, 5, 5, 5}
my_list = list(my_set)

print("Original Set:", my_set)
print("Converted List:", my_list)

Original Set: {1, 2, 5, 6, 9}
Converted List: [1, 2, 5, 6, 9]

16. Remove a random element from a set

In [70]:
import random
my_set = {1, 2, 3, 4, 5}
print("Original set:", my_set)

random_element = random.choice(list(my_set))
my_set.remove(random_element)

print("Updated set after removing", random_element, ":", my_set)

Original set: {1, 2, 3, 4, 5}
Updated set after removing 5 : {1, 2, 3, 4}

17. Pop an element from a set.

In [74]:
my_set = {1, 2, 3, 4, 5}
print(my_set)
element = my_set.pop()
print("elemnent from set ",element, "from set ",my_set)

{1, 2, 3, 4, 5}
elemnent from set  1 from set  {2, 3, 4, 5}

18. Check if two sets have no elements in common.

In [75]:
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

common_elements = set1.intersection(set2)

if not common_elements:
    print("The two sets have no elements in common.")
else:
    print("The two sets have common elements:", common_elements)

The two sets have no elements in common.

19. Find the symmetric difference between two sets.

In [77]:
set1 = {1, 2, 3, 4, 5, 8}
set2 = {4, 5, 6, 7, 8, 9}
symmetric_difference = set1 ^ set2

print("Symmetric Difference:", symmetric_difference)

Symmetric Difference: {1, 2, 3, 6, 7, 9}

20. Update a set with elements from another set.

In [81]:
set1 = {1, 2, 3, 4}
set2 = {4, 5, 6, 7}
set1.update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7}

21. Create a set of the first 5 prime numbers.

In [89]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_set = set()
num = 2
n =5

while len(prime_set) < n:
    if is_prime(num):
        prime_set.add(num)
    num += 1

print(f"Set of the first {n} prime numbers: {prime_set} ")

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [91]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 1, 5, 2, 4}

if set1==set2:
    print("set are identical")
else:
    print("set are NOT identical")

set are identical

23. Create a frozen set.

In [2]:
elements = [1, 2, 3, 4, 5]
my_frozen_set = frozenset(elements)

print("Frozen Set:", my_frozen_set)

Frozen Set: frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set.

In [4]:
set1 = {1, 2, 3, 4 ,5}
set2 = {5, 6, 7, 8}

result = set1.isdisjoint(set2)
print("status of disjoint set: ", result)

status of disjoint set:  False

25. Create a set of squares of numbers from 1 to 5.

In [6]:
my_set = set(val**2 for val in range(1,6))
my_set

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [10]:
original_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

filter_set = set(val for val in original_set if val%2!=0)
filter_set
# assuming filtering out the even set and left with odd numbers

{1, 3, 5, 7, 9}

27. Multiply all elements in a set by 2.

In [12]:
set1 = {1, 2, 3, 4 ,5}

res_set = set(val*2 for val in set1)
res_set

{2, 4, 6, 8, 10}

28. Create a set of random numbers.

In [17]:
import random
x = random.randint(1, 100)
random_set = set( random.randint(1, 100) for _ in range(5)  )
random_set

{31, 51, 57, 81, 99}

29. Check if a set is empty.

In [20]:
set1 = {1, 2, 3, 4 ,5}
set2 = set()

def check(s):
    if not s:
        return ("set is empty")
    else:
        return ("set is non empty")

In [22]:
print(check(set1))
print(check(set2))

set is non empty
set is empty

30. Create a nested set (hint: use frozenset).

In [28]:
set1 = {1,2,3}
set2 = {3,4,5}

fz_set1 = frozenset(set1)
fz_set2 = frozenset(set2)

res_set = {fz_set1,fz_set2}

In [29]:
res_set

{frozenset({1, 2, 3}), frozenset({3, 4, 5})}

31. Remove an element from a set using the discard method.

In [34]:
my_set = {1, 2, 3, 4, 5}

element = 3

my_set.discard(element)
my_set
# obs: no key value error thrown if the value is not there in set

{1, 2, 4, 5}

In [35]:
element = 6

my_set.discard(element)
my_set

{1, 2, 4, 5}

32. Compare two sets.

In [39]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

def compare_set(s1,s2):
    is_subset = set1.issubset(set2)
    is_superset = set1.issuperset(set2)
    intersection = set1.intersection(set2)
    union = set1.union(set2)
    difference1 = set1.difference(set2)
    difference2 = set2.difference(set1)
    print("Set 1:", set1)
    print("Set 2:", set2)
    print("Is set1 a subset of set2?", is_subset)
    print("Is set2 a subset of set1?", is_superset)
    print("Intersection:", intersection)
    print("Union:", union)
    print("Elements in set1 but not in set2:", difference1)
    print("Elements in set2 but not in set1:", difference2)

In [40]:
compare_set(set1,set2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

33. Create a set from a string.

In [42]:
in_str= "hello world"
res_set =set(in_str)
print("set from string", res_set)

set from string {'l', 'r', 'd', 'o', 'e', 'h', 'w', ' '}

34. Convert a set of strings to a set of integers.

In [44]:
string_set = {"123", "456", "789"}

res_set = set(int(val) for val in string_set)

In [45]:
res_set

{123, 456, 789}

35. Convert a set of integers to a set of strings.

In [46]:
int_set = {123, 456, 789}
res_set = set(str(val) for val in int_set )

In [47]:
res_set

{'123', '456', '789'}

36. Create a set from a tuple.

In [48]:
tup = (1, 2, 3, 2, 4, 5, 1)

output_set = set(tup)

print(output_set)

{1, 2, 3, 4, 5}

37. Convert a set to a tuple.

In [50]:
set1 = {1,2,3,4,5}
tup = tuple(set1)
print("tuple: ",tup)

tuple:  (1, 2, 3, 4, 5)

38. Find the maximum value in a set.

In [52]:
set1 = {1,2,3,4,5}
print("maximum value in set is: ",max(set1))

maximum value in set is:  5

39. Find the minimum value in a set.

In [53]:
set1 = {1,2,3,4,5}
print("maximum value in set is: ",min(set1))

maximum value in set is:  1

40. Create a set from user input.

In [54]:
input_user = input("enter the values separated from commas',' :")

enter the values separated from commas',' : sad,bad,lad

In [57]:
res = set(input_user.split(','))
print("output set is: ",res)

output set is:  {'bad', 'sad', 'lad'}

41. Check if the intersection of two sets is empty.

In [58]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

intersection_result = set1.intersection(set2)
if not intersection_result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is not empty.

42. Create a set of the first 5 Fibonacci numbers.

In [69]:
fibonacci_set = set()
n =5
a, b = 0, 1
for _ in range(n+1):
    # Add the current Fibonacci number to the set
    fibonacci_set.add(a)
    a, b = b, a + b

print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

43. Remove duplicates from a list using sets.

In [73]:
list1 = [1,1,4,4,5,90,90,90, 40 , 50 ,60 ,5, 5, 5]
set1 = set(list1)
out_list = list(set1)
out_list
# converted list to set and then set to list again

[1, 4, 5, 40, 50, 90, 60]

44. Check if two sets have the same elements, regardless of their count.

In [77]:
set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}

print(set1,set2)

# Print the result
if set1==set2:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

# set will automatically sort the elements and duplicates

{1, 2, 3} {1, 2, 3}
The sets have the same elements.

45. Create a set of the first `n` powers of 2.

In [79]:
n =5
set1 = set(2**val for val in range(n) )
print(set1)

{1, 2, 4, 8, 16}

46. Find the common elements between a set and a list.

In [81]:
my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]

set_list = set(my_list)

common_set = my_set.intersection(set_list)

In [83]:
print("common elements between set and list:",common_set)

common elements between set and list: {9, 12, 7}

47. Create a set of the first `n` triangular numbers.

In [84]:
def generate_triangular_numbers(n):
    triangular_numbers = set()  
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) //2
        triangular_numbers.add(triangular_number)
    return triangular_numbers

n = 5

triangular_set = generate_triangular_numbers(n)

In [85]:
triangular_set

{1, 3, 6, 10, 15}

48. Check if a set contains another set as a subset.

In [86]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

is_subset = set2.issubset(set1)

if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

49. Create a set of alternating 1s and 0s of length `n`.

In [91]:
n =6
res_set = set(val%2 for val in range(n+1))

In [92]:
res_set

{0, 1}

50. Merge multiple sets into one.