# ASSIGNMENT -3

1. Write a Python program to print the numbers from 1 to 10 using a `for` loop.

In [1]:
for val in range(1,11):
    print(val)

1
2
3
4
5
6
7
8
9
10

2. Create a program that calculates the sum of all numbers in a list using a `for` loop.

In [2]:
count = 0
my_list = [1,2,3,4,5,6,7]

for val in my_list:
    count+=val
print("sum of all numbers in a list using a for loop: ",count)

sum of all numbers in a list using a for loop:  28

3. Write a program to print the characters of a string in reverse order using a `for` loop.

In [3]:
my_str = "hello world"
out = ''
for i in my_str:
    out = i +out

print("string in reverse order using a for loop:",out)

string in reverse order using a for loop: dlrow olleh

4. Develop a program that finds the factorial of a given number using a `for` loop.

In [4]:
n = 5
# assuming the number is positive

def fac(n):
    factorial = 1
    for i in range (1, n+1):
        factorial=factorial *i
    return factorial

In [5]:
result = fac(n)
print("factorial of a given number:",result)

factorial of a given number: 120

5. Create a program to print the multiplication table of a given number using a `for` loop.

In [6]:
# can be taken n as an input
n = 9
# generating upto 10 rows

def gen_table(n):
    for i in range(1,11):
        print(n,"x",i,'=',n*i)

In [7]:
gen_table(-0)

0 x 1 = 0
0 x 2 = 0
0 x 3 = 0
0 x 4 = 0
0 x 5 = 0
0 x 6 = 0
0 x 7 = 0
0 x 8 = 0
0 x 9 = 0
0 x 10 = 0

6. Write a program that counts the number of even and odd numbers in a list using a `for` loop.

In [8]:
my_list = [1,2,3,4,5,6,7,8,9]
count_odd = 0
count_even = 0
for val in my_list:
    if val%2==0:
        count_even+=1
    else:
        count_odd+=1

In [9]:
print(f"number even numbers are {count_even} and number of odd numbers are {count_odd}")

number even numbers are 4 and number of odd numbers are 5

7. Develop a program that prints the squares of numbers from 1 to 5 using a `for` loop.

In [10]:
for val in range(1,6):
    print(val**2)

1
4
9
16
25

8. Create a program to find the length of a string without using the `len()` function.

In [11]:
my_str = "hello world"
count = 0

for _ in my_str:
    count+=1
    
print("length of a string without using the len() function is: ",count)

length of a string without using the len() function is:  11

9. Write a program that calculates the average of a list of numbers using a `for` loop.

In [12]:
my_list = [1,2,3,4,5,6,7,8,9,10]
sum_total = 0
count = 0
for val in my_list:
    count+=1
    sum_total+=val

average = sum_total/count
print(" average of a list of numbers: ",average)

 average of a list of numbers:  5.5

10. Develop a program that prints the first `n` Fibonacci numbers using a `for` loop.

In [13]:
start = [0,1]
n =11
for i in range(2,n+1):
    temp = start[i-1]+start[i-2]
    start.append(temp)
    
print("fibonnaci sequence :",start)

fibonnaci sequence : [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

# =================================================

11. Write a program to check if a given list contains any duplicates using a `for` loop.

In [14]:
my_list = [1,2,3,4,5,2,4,6,8]
my_list1 = [1,2,3,4,5]

In [15]:
def check_dupli(l1):
    l1.sort()
    for i in range(len(l1)-1):
        if l1[i]==l1[i+1]:
            return "have duplicate elements"
    return "have NO duplicate elements"

In [16]:
check_dupli(my_list)

'have duplicate elements'

In [17]:
check_dupli(my_list1)

'have NO duplicate elements'

12. Create a program that prints the prime numbers in a given range using a `for` loop.

In [104]:
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
      if num % i == 0 or num % (i + 2) == 0:
          return False
      i += 6
    return True

In [105]:
n =30
prime_num = [num for num in range(n) if is_prime(num)]

In [106]:
print("prime numbers: ",prime_num)

prime numbers:  [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

13. Develop a program that counts the number of vowels in a string using a `for` loop.

In [21]:
vow = "aeiou"
my_str = "hello world"
count = 0

for val in my_str:
    if val in vow:
        count +=1

In [22]:
print("total vowels are: ",count)

total vowels are:  3

14. Write a program to find the maximum element in a 2D list using a nested `for` loop.

In [23]:
my_list = [[1,2,3],[3,4,5],[23,34,45]]

In [24]:
#checking one pointer variable to store value
# using first for loop to iterating over the indices
#using the second for loop to go to each elements in the nested list
# storing the max of value and result to note the maximum value
res = 0
for i in range(len(my_list)):
    for val in my_list[i]:
        res = max(res,val)

In [25]:
print("maximum number is : ",res)

maximum number is :  45

15. Create a program that removes all occurrences of a specific element from a list using a `for` loop.

In [26]:
def rem_element(l1,n):
    for val in l1:
        if val == n :
            l1.remove(val)
    return l1

# removes each element one by one when iterating

In [27]:
my_list = [1,2,3,4,5,4,5,6,3,2,3,4,5]
n =4
rem_element(my_list,n)

[1, 2, 3, 5, 5, 6, 3, 2, 3, 5]

16. Develop a program that generates a multiplication table for numbers from 1 to 5 using a nested `for` loop.

In [28]:
n =5
l =[]
for i in range(1,n+1):
    l1 =[]
    for j in range(1,11):
        l1.append(i*j)
    l.append(l1)

In [29]:
print(l)

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [2, 4, 6, 8, 10, 12, 14, 16, 18, 20], [3, 6, 9, 12, 15, 18, 21, 24, 27, 30], [4, 8, 12, 16, 20, 24, 28, 32, 36, 40], [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]]

17. Write a program that converts a list of Fahrenheit temperatures to Celsius using a `for` loop.

In [30]:
fahrenheit_list = [10,20,30,40,50]
cel_list =[]

for val in fahrenheit_list:
    # f = c *(9/5) +32
    c =(val-32)*(5/9)
    cel_list.append(round(c,4))
    
# iterating over farenheit list and changing the temp to celsius and appending with rounding off

In [31]:
print("temp in celsius degree are: ",cel_list)

temp in celsius degree are:  [-12.2222, -6.6667, -1.1111, 4.4444, 10.0]

18. Create a program to print the common elements from two lists using a `for` loop.

In [32]:
list1 = [1,2,3,4,5,6]
list2 =[2,5,6,8,9]

In [33]:
def common_list(l1,l2):
    l =[]
    for val in l1:
        for num in l2:
            if val == num:
                l.append(val)
    return l

In [34]:
res = common_list(list1,list2)
print("common elements of the two lists are: ",res)

common elements of the two lists are:  [2, 5, 6]

19. Develop a program that prints the pattern of right-angled triangles using a `for` loop. Use ‘*’ to draw the
pattern

In [35]:
n = 5
#number of rows

for i in range(0,n):
    print("* "*(i+1))

*
* *
* * *
* * * *
* * * * *

20. Write a program to find the greatest common divisor (GCD) of two numbers using a `for` loop.

In [36]:
def gcd_num(a, b):  
    if a > b:  # define the if condition  
        temp = b  
    else:  
        temp = a  
    for i in range(1, temp + 1):  
        if (( a % i == 0) and (b % i == 0 )):  
            gcd = i  
    return gcd

In [37]:
num1 = 65
num2 = 20
res = gcd_num(num1,num2)
print("gcd of two numbers are: ",res)

gcd of two numbers are:  5

21. Create a program that calculates the sum of the digits of numbers in a list using a list comprehension.

In [38]:
my_list = [12,134,234,345,678]
s = [str(val) for val in my_list]

l = [sum(num) for num in ([(int(val)) for val in s[i]] for i in range(len(my_list)))]
# l = [sum(int(val)) for val in [str(val) for val in my_list]]
# l = [sum(int(val) for val in "123")]

# stored the num values as int in list s
# converting each digit to int and store as nested list and use the sum function

22. Write a program to find the prime factors of a given number using a `for` loop and list comprehension.

In [39]:
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
      if num % i == 0 or num % (i + 2) == 0:
          return False
      i += 6
    return True

def factorization(n):
    return [(i) for i in range(1, n + 1) if is_prime(i) and n % i == 0 ]

In [40]:
factorization(28)

[2, 7]

23. Develop a program that extracts unique elements from a list and stores them in a new list using a list
comprehension.

In [41]:
my_list = [10,20,30,20,50,40,60]

res = list(set(val for val in my_list))

In [42]:
res

[40, 10, 50, 20, 60, 30]

24. Create a program that generates a list of all palindromic numbers up to a specified limit using a list
comprehension.

In [111]:
n =950
if n <1000 :
    num = str(n)
    L = [int("%d%d%d" % (x,y,x)) for x in range(1,int(num[0])+1) for y in range(10) if int("%d%d%d" % (x,y,x))<=n]
else:
    L = [int("%d%d%d%d%d" % (z,x,y,x,z)) for z in range(1,int(num[0])) for x in range(10) for y in range(10) if int("%d%d%d%d%d" % (z,x,y,x,z)) <= n]
# generated all 3 digits palindromic and 5 digits number
# checking the number in sequence

In [112]:
L

[101,
 111,
 121,
 131,
 141,
 151,
 161,
 171,
 181,
 191,
 202,
 212,
 222,
 232,
 242,
 252,
 262,
 272,
 282,
 292,
 303,
 313,
 323,
 333,
 343,
 353,
 363,
 373,
 383,
 393,
 404,
 414,
 424,
 434,
 444,
 454,
 464,
 474,
 484,
 494,
 505,
 515,
 525,
 535,
 545,
 555,
 565,
 575,
 585,
 595,
 606,
 616,
 626,
 636,
 646,
 656,
 666,
 676,
 686,
 696,
 707,
 717,
 727,
 737,
 747,
 757,
 767,
 777,
 787,
 797,
 808,
 818,
 828,
 838,
 848,
 858,
 868,
 878,
 888,
 898,
 909,
 919,
 929,
 939,
 949]

25. Write a program to flatten a nested list using list comprehension.

In [45]:
my_list = [[1,2,3],[2,3,4],[5,6,7]]

res = [val for i in range(len(my_list)) for val in my_list[i] ]

In [46]:
res

[1, 2, 3, 2, 3, 4, 5, 6, 7]

26. Develop a program that computes the sum of even and odd numbers in a list separately using list
comprehension.

In [47]:
my_list = [1,2,3,4,5,6,7,8,9]

sum_even =sum(val for val in my_list if val%2==0)
sum_odd =sum(val for val in my_list if val%2!=0)

In [48]:
print(f"sum of even numbers is {sum_even} and odd numbers is {sum_odd}")

sum of even numbers is 20 and odd numbers is 25

27. Create a program that generates a list of squares of odd numbers between 1 and 10 using list
comprehension.

In [49]:
odd_list = [val for val in range(10) if val%2!=0]

In [50]:
odd_list

[1, 3, 5, 7, 9]

28. Write a program that combines two lists into a dictionary using list comprehension.

In [51]:
l1 = ["a","b","c","d","e"]
l2 =[1,2,3,4,5]

# assumed keys from list 1 and they are unique and list 2 have values
d = {l1[i]:l2[i] for i in range(len(l1))}

In [52]:
d

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

29. Develop a program that extracts the vowels from a string and stores them in a list using list comprehension.

In [53]:
str1 = "hello world"

vow = list(val for val in "hello world" if val in "aeiou")

In [54]:
vow

['e', 'o', 'o']

30. Create a program that removes all non-numeric characters from a list of strings using list comprehension.

In [55]:
my_list =["alice01","bo34b2","mar23y5"]

res = [val for i in range(len(my_list)) for val in my_list[i] if val.isdigit()]

In [56]:
res

['0', '1', '3', '4', '2', '2', '3', '5']

31. Write a program to generate a list of prime numbers using the Sieve of Eratosthenes algorithm and list
comprehension.

In [57]:
n=8
l1 = [i for i in range(2,n)]  

for i in l1:
    for a in l1:
        if a!=i and a%i == 0:
            l1.remove(a)

In [58]:
l1

[2, 3, 5, 7]

32. Create a program that generates a list of all Pythagorean triplets up to a specified limit using list
comprehension.

In [59]:
n = 50
l1 = [ (a,b,c) for a in range(1,n) for b in range(1,n) for c in range(1,n) if (a**2+b**2==c**2)]

In [60]:
l1

[(3, 4, 5),
 (4, 3, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 6, 10),
 (8, 15, 17),
 (9, 12, 15),
 (9, 40, 41),
 (10, 24, 26),
 (12, 5, 13),
 (12, 9, 15),
 (12, 16, 20),
 (12, 35, 37),
 (15, 8, 17),
 (15, 20, 25),
 (15, 36, 39),
 (16, 12, 20),
 (16, 30, 34),
 (18, 24, 30),
 (20, 15, 25),
 (20, 21, 29),
 (21, 20, 29),
 (21, 28, 35),
 (24, 7, 25),
 (24, 10, 26),
 (24, 18, 30),
 (24, 32, 40),
 (27, 36, 45),
 (28, 21, 35),
 (30, 16, 34),
 (32, 24, 40),
 (35, 12, 37),
 (36, 15, 39),
 (36, 27, 45),
 (40, 9, 41)]

33. Develop a program that generates a list of all possible combinations of two lists using list comprehension.

In [61]:
list_1 = ["a","b", "c", "d"]
list_2 = [1,2,3,4]

In [62]:
lis = [(list_1[i],list_2[j]) for i in range(len(list_1)) for j in range(len(list_2))]

In [63]:
print("combination of list: ",lis)

combination of list:  [('a', 1), ('a', 2), ('a', 3), ('a', 4), ('b', 1), ('b', 2), ('b', 3), ('b', 4), ('c', 1), ('c', 2), ('c', 3), ('c', 4), ('d', 1), ('d', 2), ('d', 3), ('d', 4)]

34. Write a program that calculates the mean, median, and mode of a list of numbers using list
comprehension.

In [127]:
from statistics import mode
my_list = [1,2,3,4,5,6,7,2,4,2,2,6,8]

ans_mean = sum(my_list)/len(my_list)
ans_median = my_list[len(my_list)//2]
ans_mode = mode(my_list)

In [129]:
print("mean, median , mode are: ", ans_mean,"," ,ans_median,",",ans_mode)

mean, median , mode are:  4.0 , 7 , 2

35. Create a program that generates Pascal's triangle up to a specified number of rows using list
comprehension.

In [64]:
from math import factorial
num=7
tri = [[factorial(n) // (factorial(k) * factorial(n - k)) for k in range(n+1)] for n in range(num)]

In [65]:
tri

[[1],
 [1, 1],
 [1, 2, 1],
 [1, 3, 3, 1],
 [1, 4, 6, 4, 1],
 [1, 5, 10, 10, 5, 1],
 [1, 6, 15, 20, 15, 6, 1]]

36. Develop a program that calculates the sum of the digits of a factorial of numbers from 1 to 5 using list
comprehension.

In [66]:
# res = [ j for i in range(len(l)) for j in str(l[i])]

In [67]:
res = [int(val) for i in range(1,6) for val in str(factorial(i))]
res

[1, 2, 6, 2, 4, 1, 2, 0]

In [68]:
# l1=[]
# for i in range(1,6):
#     count = 0
#     for val in str(factorial(i)):
#         count+=int(val)
#     l1.append(count)

In [69]:
## ANSWER
## if check res, it contains specific digits of each factorial, and using list comprehension , stored in list
## added to the sum

l2 = sum(int(val) for i in range(1,6) for val in str(factorial(i)))

In [70]:
print("sum of digits of a factorial number are : ", l2)

sum of digits of a factorial number are :  18

37. Write a program that finds the longest word in a sentence using list comprehension.

In [71]:
text = "hello world what is going on for adventure"
s = text.split()
print(s)

longest = max(text.split(), key=len)

['hello', 'world', 'what', 'is', 'going', 'on', 'for', 'adventure']

In [72]:
print("longest word is: ",longest)

longest word is:  adventure

38. Create a program that filters a list of strings to include only those with more than three vowels using list
comprehension.

In [73]:
import re

fruits = ["mango", "kiwi", "strawberry", "guava", "pineapple", "mandarin orange"]
results = [i for i in fruits if len(re.sub(r"[^aeiouAEIOU]", "", i)) > 2]

In [74]:
print(results)

['guava', 'pineapple', 'mandarin orange']

39. Develop a program that calculates the sum of the digits of numbers from 1 to 1000 using list
comprehension.

In [77]:
test_list = [i for i in range(1,1001)]
res = list(map(lambda ele: sum(int(val) for val in str(ele)), test_list))

In [79]:
print("um of the digits of numbers from 1 to 1000:", res)

um of the digits of numbers from 1 to 1000: [1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 1]

40. Write a program that generates a list of prime palindromic numbers using list comprehension.

In [108]:
# used 2 previous function to generate palindrome and check prime
# used both the condition
n = 800
num = str(n)
L = [int("%d%d%d" % (x,y,x)) for x in range(1,int(num[0])+1) for y in range(10) if int("%d%d%d" % (x,y,x))<=n if is_prime(int("%d%d%d" % (x,y,x)))]

In [109]:
L

[101, 131, 151, 181, 191, 313, 353, 373, 383, 727, 757, 787, 797]